@import "wupjs-glyph-checkbox/lib/_glyph-checkbox";

button, li {
  .vertical-align {
    display: flex;
    align-items: center;
  }

  .grow {
    flex-grow: 1;
  }

  @include glyphCheckbox(
    $parent-selector: ".glyph-checkbox",
    $button-selector: ".fa-check"
  );
  @include glyphCheckbox(
    $parent-selector: ".glyph-checkbox",
    $button-selector: ".fa-pencil"
  );
  @include glyphCheckbox(
    $parent-selector: ".glyph-checkbox",
    $button-selector: ".fa-trash-o"
  );
  @include glyphCheckbox(
    $parent-selector: ".glyph-checkbox",
    $button-selector: ".fa-bomb"
  );
  @include glyphCheckbox(
    $parent-selector: ".glyph-checkbox",
    $button-selector: ".fa-close"
  );
  @include glyphCheckbox(
    $parent-selector: ".glyph-checkbox",
    $button-selector: ".fa-clock-o"
  );
  @include glyphCheckbox(
    $parent-selector: ".glyph-checkbox",
    $button-selector: ".fa-save"
  );
  @include glyphCheckbox(
    $parent-selector: ".glyph-checkbox",
    $button-selector: ".fa-bars"
  );
  @include glyphCheckbox(
    $parent-selector: ".glyph-checkbox",
    $button-selector: ".fa-sitemap"
  );
}
