@import "mixins/_check-button";

li {
  .vertical-align {
    display: flex;
    align-items: center;
  }

  @include checkButton(
    $parent-selector: ".glyph-checkbox",
    $button-selector: ".toggle-selected",
    $text: "✓"
  );
  @include checkButton(
    $parent-selector: ".glyph-checkbox",
    $button-selector: ".toggle-scheduled",
    $text: "⌚"
  );
}
