@import "mixins/_check-button";

button, li {
  .vertical-align {
    display: flex;
    align-items: center;
  }

  @include checkButton(
    $parent-selector: ".glyph-checkbox",
    $button-selector: ".fa-check"
  );
  @include checkButton(
    $parent-selector: ".glyph-checkbox",
    $button-selector: ".fa-pencil"
  );
  @include checkButton(
    $parent-selector: ".glyph-checkbox",
    $button-selector: ".fa-trash-o"
  );
  @include checkButton(
    $parent-selector: ".glyph-checkbox",
    $button-selector: ".fa-bomb"
  );
  @include checkButton(
    $parent-selector: ".glyph-checkbox",
    $button-selector: ".fa-close"
  );
  @include checkButton(
    $parent-selector: ".glyph-checkbox",
    $button-selector: ".fa-clock-o"
  );
  @include checkButton(
    $parent-selector: ".glyph-checkbox",
    $button-selector: ".fa-save"
  );
}
